html {
    font-size: 10px;
}

@font-face {
    font-family: "Find Cartoon";
    src: url(/src/assets/font/Find\ Cartoon.ttf);
}

@font-face {
    font-family: "Amaranth";
    src: url(/src/assets/font/Amaranth-Regular.ttf);
}

@font-face {
    font-family: "Nunito";
    src: url(/src/assets/font/Nunito-VariableFont_wght.ttf);
}

:root {
    /* fonts */ 
    --font-title: "Find Cartoon";
    --font-data: "Amaranth";
    --font-text: "Nunito";

    /* font-size */
    --title-size: 8rem;

    /* colors  */ 
    --bg-color: #F2EDE4;
    --text-color: #594828;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}

/* index.html */

.body-index {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.title-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

.title {
    font-family: var(--font-title);
    font-size: var(--title-size);

    color: var(--text-color);

    margin-bottom: 6rem
}

.league-team {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}

select {
    width: calc(50% - 5.8rem);
    height: 4.5rem;

    margin-right: 2.5rem;

    padding: 1.2rem;

    border: 1.59px solid var(--text-color);
    border-radius: 1rem;

    outline: none;

    font-family: var(--font-title);
    color: rgb(209, 206, 202);
}

input::placeholder {
    font-family: var(--font-title);

    color: var(--text-color);

    opacity: 0.2;
}


.btn {
    width: 5rem;
    height: 4.5rem;

    padding: 1.2rem;

    border: 1.59px solid var(--text-color);
    border-radius: 1rem;

    background-color: var(--bg-color);

    cursor: pointer;
}


@keyframes kickBall {
    0% {
        top: -03px;
    }
    100% {
        top: 03px;
    }
}

.btn .ball {
    position: relative;

    width: 95%;
    height: 100%;

    animation: kickBall 0.6s linear infinite alternate;

}

.btn:hover {
    background-color: #594828;
    transition: 1s;
}

/* result-screen.html - some button settings are further back */
.body-result {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-result {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;

    filter: blur(2rem);
}

.bagde-socialnet, .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 39rem;
}

.bagde-socialnet {
    width: 48%;
}

.bagde-socialnet, .centerBadge {
    display: flex;
    justify-content: center;
}

.bagde-socialnet .badge {
    width: 60%;
}

.socialnet {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: end;
}

.social-icons {    
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin-right: 20px;
}

.social-icons a:last-child {
    margin-right: 0px;
}

.social-icons li {
    width: 4rem;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1.2rem; 

    list-style: none;    
    
    border-radius: 50%;

    background-color: white;

    transition: 0.6s ease-in-out;
}

.social-icons .li-instagram, .social-icons .li-facebook {
    padding: 1rem;
}


.svg-size {
    width: 2.5rem;
    height: 2.5rem;
}

.svg-instagram {
    width: 10rem;
    height: 10rem;
}

.svg-color {
    fill: #231F20;
}


.social-icons li:hover {
    transform: scale(1.2);
}


.results {
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.data {
    width: 52%;
}

.text-fields {
    width: 40rem;
    height: 5rem;

    display: flex;
    align-items: center;

    border-radius: 0.8rem;

    background-color: #ffff;
}

.text-fields p, .text-fields a {
    margin-left: 2rem;

    font-family: var(--font-data);
    font-size: 1.5rem;

    color: #231F20;
}

.btn-open {
    align-self: end;
    border: none;
    background-color: #ffff;
}

.btn-open:hover {
    background-color: #F2F2F2;
}

/* modal */

.modal-history {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 30000;
}

.modal {
    display: none;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    
    width: 90%;
    height: 60rem;

    overflow-y: auto;

    padding:  8rem 9rem;

    background-color: var(--b);

    border-radius: 1rem;

    position: relative;
    animation: show 1s linear;
}

.btn-close {
    position: absolute;
    
    top: 6%;
    right: 3%;

    border: none;

    background-color: inherit;

    cursor: pointer;
}

.close-modal {
    width: 4rem;
    height: 4rem;
}

.title-history {
    margin-bottom: 4rem;

    font-family: var(--font-data);
    font-size: 3rem;
}

.text-history {
    font-family: var(--font-text);
    font-size: 1.6rem;
    
    line-height: 3.4rem;

    z-index: 4;
}

.badge-opacity {
    position: absolute;

    width: 45%;

    top: 35%;
    right: 2%;

    z-index: 3;

    opacity: 0.1;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}

/* loading */
.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #252525;
    opacity: .98;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;

    border: 0.1rem solid white;

    background-color: #214001;
}

.loading-line {
   width: 0.6rem;
   height: 0.6em;
   border-radius: 50%;
   background-color: white;
}

.loading-mid {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    padding: 0.6rem;
    border: 0.6rem dotted white;
    border-radius: 50%;
    animation: spin 6s linear infinite;
}

.center-loading {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}